<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Cognitive Finance </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!--<link rel="stylesheet" href="stylesheets/style.css">-->




  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Cognitive Finance</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">About</a></li>
            <li><a href="/user/signup">Signup</a></li>
            <li><a href="/user/login">Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

      {{{body}}}

	
	
	
	
	
	<!-- +++++ Footer Section +++++ -->
	
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>Office</h4>
					<p>
						Some Address 987,<br/>
						123-456-7890, <br/>
						Wayne, NJ.
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>My Links</h4>
					<p>
						<a href="https://www.linkedin.com/in/michael-pszonka-2728ba2a">Linkedin</a><br/>
						<a href="https://twitter.com/pszonkadonk">Twitter</a><br/>
						<a href="https://github.com/pszonkadonk">Github</a>
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>About Michael</h4>
					<p>I'm a graduate student in Computer Science at Stevens Institute of Technology in Hoboken.</p>
				</div><!-- /col-lg-4 -->
			
			</div>
		
		</div>
	</div>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
